<nav class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href=<%= pages_home_path %>>
      <%= image_tag('logo.png') %>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href=<%= pages_home_path %>>
        Accueil
      </a>
      <a class="navbar-item" href=<%= pages_posts_path %>>
        Actualités
      </a>
      <a class="navbar-item" href=<%= pages_events_path %>>
        Agenda
      </a>

    </div>
  </div>
  </nav>
